body{
    background: #066093;
    background: url(../images/bgg1.jpeg)no-repeat 0px 0px;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    padding-bottom:2.5em;
}