<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <title>View Gym classes</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/jquery.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bundle.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/gym_class.css' %}">

</head>
<body >
<center>
  <br>
 <br><h1><span class="badge badge-info">GYM</span><span class="badge badge-light">CLUB</span></h1>
  <br>

  <div class="container" >

    <h3><span class="badge badge-light">Working days and time</span></h3>

    <div class="card bg-dark text-white">
      <div class="card-body"><h4>Monday - Friday || 6 : 00 AM - 9 : 00 PM</h4></div>
    </div><br>

    <div class="card bg-dark text-white">
      <div class="card-body"><h4>Saturday || 6 : 00 AM - 12 : 00 PM</h4></div>
    </div><br>
      <br>

    <h3><span class="badge badge-light">Classes we provide</span></h3>

     <div class="card bg-light text-dark">
      <div class="card-body"><h4>AEROBICS</h4>
      <h5>Monday - Saturday || 7:00 AM - 9:00 AM </h5></div>
          <div class="container">
              <img src="{% static 'images/bgg3.jpeg' %}" class="rounded" alt="Paris" width="350" height="266">
              <img src="{% static 'images/bgg24.jpeg' %}" class="rounded-circle" alt="Paris" width="350" height="266">
              <img src="{% static 'images/bgg23.jpeg' %}" class="rounded" alt="Paris" width="350" height="266">
          </div><br>
     </div><br>

     <div class="card bg-light text-dark">
        <div class="card-body"><h4>Body Building</h4>
        <h5>Monday, Wednesday, Friday || 9:00 AM - 11:00 AM</h5></div>
            <div class="container">
              <img src="{% static 'images/bgg4.jpeg' %}" class="rounded-circle" alt="Paris" width="350" height="266">
              <img src="{% static 'images/bgg22.jpeg' %}" class="rounded" alt="Paris" width="350" height="266">
              <img src="{% static 'images/bgg5.jpeg' %}" class="rounded-circle" alt="Paris" width="350" height="266">
            </div><br>
     </div><br>

     <div class="card bg-light text-dark">
        <div class="card-body"><h4>Crossfit</h4>
        <h5>Monday, Wednesday, Friday || 4:00 PM - 6:00 PM</h5></div>
            <div class="container">
              <img src="{% static 'images/bgg7.jpeg' %}" class="rounded" alt="Paris" width="350" height="266">
              <img src="{% static 'images/bgg6.jpeg' %}" class="rounded-circle" alt="Paris" width="350" height="266">
              <img src="{% static 'images/bgg8.jpeg' %}" class="rounded" alt="Paris" width="350" height="266">
            </div><br>
     </div><br>

     <div class="card bg-light text-dark">
        <div class="card-body"><h4>Weight loss</h4>
        <h5>Monday - saturday || 6:00 AM - 12:00 PM</h5></div>
            <div class="container">
              <img src="{% static 'images/bgg12.jpeg' %}" class="rounded-circle" alt="Paris" width="350" height="266">
              <img src="{% static 'images/bgg13.jpeg' %}" class="rounded" alt="Paris" width="350" height="266">
              <img src="{% static 'images/bgg14.jpeg' %}" class="rounded-circle" alt="Paris" width="350" height="266">
            </div><br>
     </div><br>

     <div class="card bg-light text-dark">
        <div class="card-body"><h4>Six Pack Training</h4>
        <h5>Monday - saturday || 6:00 AM - 9:00 AM</h5></div>
            <div class="container">
              <img src="{% static 'images/bgg15.jpeg' %}" class="rounded" alt="Paris" width="350" height="266">
              <img src="{% static 'images/bgg17.jpeg' %}" class="rounded-circle" alt="Paris" width="350" height="266">
              <img src="{% static 'images/bgg16.jpeg' %}" class="rounded" alt="Paris" width="350" height="266">
            </div><br>
     </div><br>

     <div class="card bg-light text-dark">
        <div class="card-body"><h4>Spinning</h4>
        <h5>Tuesday, Thursday, Saturday || 9:00 AM - 11:00 AM</h5></div>
            <div class="container">
              <img src="{% static 'images/bgg18.jpeg' %}" class="rounded-circle" alt="Paris" width="350" height="266">
              <img src="{% static 'images/bgg19.jpeg' %}" class="rounded" alt="Paris" width="350" height="266">
              <img src="{% static 'images/bgg20.jpeg' %}" class="rounded-circle" alt="Paris" width="350" height="266">
            </div><br>
     </div><br>

     <div class="card bg-light text-dark">
        <div class="card-body"><h4>Individual Clients</h4>
        <h5>Monday - friday || 6:00 AM - 9:00 AM >< Saturday || 6:00 AM - 11:00 AM</h5></div>
            <div class="container">
              <img src="{% static 'images/bgg9.jpeg' %}" class="rounded" alt="Paris" width="350" height="266">
              <img src="{% static 'images/bgg10.jpeg' %}" class="rounded-circle" alt="Paris" width="350" height="266">
              <img src="{% static 'images/bgg11.jpeg' %}" class="rounded" alt="Paris" width="350" height="266">
            </div><br>
     </div><br>


  </div>
</center>
</body>
</html>