<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
   <title>Trainer Home page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/jquery.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bundle.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/loginn.css' %}">

</head>
<body><center>
  <br>
 <br><h1><span class="badge badge-info">GYM</span><span class="badge badge-light">CLUB</span></h1>
<br><br>
  <div class="container">
 <div class="list-group">

   <a href="{% url 'trainer_home' %}" class="list-group-item list-group-item-action">Home</a>
   <a href="{% url 'trainer_login' %}" class="list-group-item list-group-item-action">Login</a>
   <a href="#" class="list-group-item list-group-item-action">Signup</a>
   <a href="#" class="list-group-item list-group-item-action">View clients</a>
   <a href="{% url 'gym_class' %}" class="list-group-item list-group-item-action">View Gym Classes</a>



     <a href="#" class="list-group-item list-group-item-action">logout</a>

</div>
</div>
</center>
</body>
</html>